[Unit]
Description=Run Ultra EU OHLCV Collector hourly

[Timer]
OnBootSec=2min
OnUnitActiveSec=1h
Unit=ultrabot-collector.service

[Install]
WantedBy=timers.target